.events {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 60px;
        margin-bottom: 100px;

        @media (max-width: $tablet) {
            padding: 0 20px;
        }

        &__title {
            @extend %title-60;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: "Space Grotesk";
        }

        &__grid {
            display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $phone) {
        grid-template-columns: 1fr;
    }

        }

    @media (max-width: $ipadpro) {
      grid-template-columns: 1fr 1fr;
    }

    
}